h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Entidades territoriales', 'main.html#page/entidades/')
                    +navTemaItem('2', 'Departamento nacional de planeación y el plan nacional de desarrollo', 'main.html#page/departamento/')
                    +navTemaItem('3', 'CONPES 3397 de turismo', 'main.html#page/conpes/')
                    +navTemaItem('4', 'Planes sectoriales de turismo', 'main.html#page/planes/')
                    +navTemaItem('5', 'Certificaciones de calidad turística', 'main.html#page/certificaciones/')
                    +navTemaItem('6', 'Policía de turismo', 'main.html#page/policia/')                    
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')