h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210301040-03 - Seleccionar la documentación requerida para desarrollo de la actividad, teniendo en cuenta el tipo de prestador y su estructura empresarial bajo la normatividad turística.




