
.container
    .header-ecored
        h1 6. Policía de turismo

    .card
        .card-body
            p La policía de turismo es un grupo especializado encargado de vigilar y velar por el buen uso de las empresas prestadoras de servicios turísticos de cada destino y el cuidado de los visitantes. 

    #61
    .header-ecored
        h1 6.1 Objetivos
    .card
        .card-body
            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid 
                .col-8
                    p Protección del turista.    

            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid 
                .col-8
                    p Protección del patrimonio cultural. 

            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid 
                .col-8
                    p Velar que los prestadores de servicios turísticos cumplan con la normatividad establecida. 

            .row.justify-content-center.align-items-center.mt-5
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/select.png").img-fluid 
                .col-8
                    p Protección de patrimonio arqueológico.

            .jumbotron.mt-5
                p La labor que la policía de turismo desempeña ayuda en gran manera a garantizar que los turistas no sean estafados o engañados en los diversos destinos turisticos, y que estos puedan sentirse seguros en el lugar que están visitando. 
            hr.bd-hr-orange