.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 CONPES 3397:
            | documento que proporciona los lineamientos para el sector turístico de cada región.
        
        p
            strong.mr-2 Plan Nacional de Desarrollo (PND):
            | documento que indica hacia dónde va a dirigirse el país en el gobierno.
        p 
            strong.mr-2 Plan Sectorial de Desarrollo:
            | instrumento utilizado por los entes gubernamentales para poder direccionar un departamento.

        p
            strong.mr-2 Municipio:
            | ciudad delimitada por unas fronteras.
        p 
            strong.mr-2 Policía de turismo:
            | grupo encargado de velar por la protección de los turistas y bienes de interés cultural de un destino.