

.container
    .header-ecored
        h1 Introducción        
.container
    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9.mt-5
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/TeKb_ALCp1w', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                
                .card-body.mt-0  
                    p El turismo hace referencia a un sinnúmero de entidades y sectores que lo conforman de manera directa e indirectamente y que, al mismo tiempo, velan por que este se desarrolle de una manera adecuada y correcta.
                    br
                    p Es por eso que en este módulo se conocerán cuáles son los lineamientos a tener en cuenta para el desarrollo turístico en una región o lugar, con el fin de brindar la mejor experiencia a los visitantes y así poder lograr generar un turismo responsable.

                hr.bd-hr-orange