.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material 
                    th.text-center Enlace del Recurso

            tbody
                tr
                    td
                        strong Plan nacional de desarrollo 2018-2022.
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA3_Plan_Nacional_de_Desarrollo_2018_2022.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr                    

                    td
                        strong Plan nacional de turismo 2018-2022.
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA3_Plan_secotorial_ de_turismo_2018_2022.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                        
                tr                    

                    td
                        strong Prestadores de servicios turísticos certificados en calidad turística.
                    td Documento
                    td 
                        a(href="media/documentos/MC_AA3_Prestadores_de_servicios_turisticos_certificados_en_calidad_turistica.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar