include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Asamblea Nacional Constituyente. (1991). Constitución Política de Colombia. Recuperado de ", "https://www.ramajudicial.gov.co/documents/10228/1547471/CONSTITUCION-Interiores.pdf ")

        +referenciaItem("Consejo Nacional de Política Económica y Social. (2005). Política sectorial de turismo. Recuperado de ", "https://fontur.com.co/aym_document/aym_normatividad/2005/CONPES_3397_.pdf")

        +referenciaItem("Departamento Nacional de Planeación (DNP). (Sin fecha). Qué es el Plan Nacional de Desarrollo. Recuperado de ", "")

        +referenciaItem("Instituto Colombiano de Normas Técnicas y Certificación (Icontec). (Sin fecha). Certificación Calidad Turística Colombia. Recuperado de ", "https://www.icontec.org/eval_conformidad/certificacion-calidad-turistica-colombia/")

        +referenciaItem("Instituto Geográfico Agustín Codazzi. (Sin fecha). Fronteras y Límites de Entidades Territoriales. Recuperado de ", "https://www.igac.gov.co/es/contenido/areas-estrategicas/fronteras-y-limites-de-entidades-territoriales#:~:targetText=Divisi%C3%B3n%20Pol%C3%ADtico%20Administrativa,llamadas%20municipios%20y%20territorios%20ind%C3%ADgenas.")

        +referenciaItem("Pixabay. (2015). Ciencia/Tecnología. Recuperado de ", "https://pixabay.com/es/photos/bodyworn-c%C3%A1mara-de-cuerpo-794111/")

        +referenciaItem("Procuraduría delegada para la descentralización y las entidades territoriales. (2011). Descentralización y entidades territoriales. Bogotá, Colombia: IEMP.", " ")

        +referenciaItem("Superintendencia de Industria y Comercio. (Sin fecha). Entidades sector Comercio, Industria y Turismo. Recuperado de ", "https://www.sic.gov.co/entidades-sector-comercio-industria-y-turismo")                                                        
